.footer-container {
  background: var(--cor-preto);
}

.footer {
  padding: 60px 20px;
  border-bottom: 2px solid var(--cor-c12);
}

.footer-cards-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  justify-items: center;
  gap: 40px;
}

.footer-card {
  max-width: 260px;
  display: flex;
  flex-direction: column;
}

.footer-card h3 {
  margin-bottom: 24px;
}

/* .menu-footer li {
  margin-bottom: 4px;
} */

.menu-footer a {
  display: inline-block;
  padding: 12px 0px;
}

.menu-footer a {
  transition: 0.3s;
}

.menu-footer a:hover {
  color: var(--cor-c3);
}

.footer address {
  margin-bottom: 24px;
}

.group-footer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.group-redes {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.group-footer img {
  width: 24px;
}

.rodape-base {
  font: 300 1rem/1.5 "Noto Sans";
  text-align: center;
  padding: 20px 0;
}

@media (max-width: 800px) {
  .footer {
    padding: 60px 24px;
  }
}

@media (max-width: 627px) {
  .footer {
    padding: 60px 20px;
  }
  .footer-cards-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .logo-footer {
    max-width: 112px;
  }
  .rodape-base {
    padding: 20px 20px;
  }
}