* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
}

h2 {
  margin-bottom: 40px;
}

.sombra-card {
  border: 1px solid var(--cor-c2);
  border-radius: 12px;
  -webkit-box-shadow: 0px 16px 20px -10px rgba(0,0,0,0.06); 
  box-shadow: 0px 16px 20px -10px rgba(0,0,0,0.06);
}

@media (max-width: 800px) {
.container {
  padding: 60px 24px;
  margin: 0 auto;
}
}