.header-container {
  background: var(--cor-p2);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
}

.menu-superior {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu-superior a {
  display: inline-block;
  color: var(--cor-p12);
  padding: 10px 20px;
  border-radius: 4px;
  transition: 0.25s;
}

.menu-superior a:hover {
  color: var(--cor-branco);
}

.btn-menu {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icone-menu {
  display: none;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 800px) {
  html {
    /* position: relative; */
    overflow-x: hidden;
  }
  body {
    /* position: relative; */
    overflow-x: hidden;
  }

  .icone-menu {
    display: block;
  }

  .header {
    position: relative;
    /* overflow-x: hidden; */
  }

  .menu-header {
    background: var(--cor-p2);
    position: absolute;
    top: 80px;
    right: -1500px;
    /* padding: 24px; */
    padding-top: 40px;
    width: 100vw;
    height: 100vh; 
    /* z-index: -10; */
    /* transition: 0.25s; */
  }

  .menu-open {
    /* z-index: 1; */
    right: 0px;
  }

  .menu-superior {
    flex-direction: column;
    gap: 10px;
    font: 600 1.5rem/1.111 "Libre Franklin";

  }

  .menu-superior a {
    padding: 10px 20px;
  }
}