.header-container {
  background: var(--cor-p2);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
}

.menu-superior {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu-superior a {
  display: inline-block;
  color: var(--cor-p12);
  transition: 0.25s;
}

.menu-superior a:hover {
  color: var(--cor-branco);
}

.btn-menu {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icone-menu {
  display: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  .icone-menu {
    display: block;
  }

  /* .menu-header {
    display: none;
  } */

  .header {
    position: relative;
  }

  .menu-header {
    background: var(--cor-p2);
    position: absolute;
    top: 80px;
    right: 0px;
    padding: 24px;
    /* z-index: -1; */
  }

  .menu-open {
    
  }

  .menu-superior {
    flex-direction: column;
    gap: 10px;
  }

  .menu-superior a {
    padding: 10px 20px;
  }
}