#ovos p {
  max-width: 760px;
}

#ovos p:first-of-type {
  margin-bottom: 32px;
}

.info-ovos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
  gap: 40px;
}

.beneficios {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.card-ovos {
  width: 260px;
  height: 258px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-ovos img {
  width: 48px;
  margin-bottom: 12px;
}

.card-ovos h3 {
  margin-bottom: 32px;
}

.card-ovos span {
  font: 300 0.875rem/1 "Noto Sans";
  align-self: flex-end;
}